* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    display:flex;
    flex-direction: column;
}

button {
    border-radius: 5px;
}

/* Header */
.hero {
   display:flex;
   justify-content:space-around;
   background-color: darkslateblue;
   padding: 5px 130px 40px 130px;
   min-width: 100%;
}

.text {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-wrap: wrap;
    max-width: 300px;
}

.button1 {
    max-width: fit-content;
    padding: 5px;
}

.header-left,
.header-right {
    display: flex;
    flex-direction: column;
}

.header-right {
    flex-direction: flex-end;
}

.img {
    margin-top: 40px;
}

.logo,
.links {
    margin-bottom: 35px;
}

.header-maintext {
    font-size: 30px;
}

.header-subtext {
    font-size: 18px;
}

a {
    text-decoration: none;
}

.links ul {
    display:flex;
    gap: 25px;
    justify-content: flex-end;
    
}

li {
    list-style: none;
   
}

ul {
    margin: 0;
    padding: 0;
}

/* Options */
.mage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    padding:25px;

}

.mage > p {
    font-size: 24px;
}


.redirect {
    display: flex;
    font-size: 12px;
    max-width: 100px;
    justify-content: center;
    column-gap: 20px;
    margin-top: 20px;
}

.redirect img {
    border-radius: 10px;
}

/* Testimonials */
.warrior {
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    padding: 25px;
    background-color: darkgray;
}

.slughorn,
.snape {
    display:flex;
    justify-content: center;
    width: 475px;
    flex-direction: column;
}

.name {
    display:flex;
    justify-content: flex-end;
    font-size: 15px;
}

.testimonial-text {
    font-size: 21px;
}

.snape .name {
    margin-right: 15px;
}

/* Newletter */

.healer {
    display: flex;
    margin: 50px 125px;
    background-color: cornflowerblue;
    justify-content: space-around;
    padding:25px 15px;
    border-radius: 15px;
   
}

.button2 {
    width:fit-content;
    height:fit-content;
    padding:5px;
    align-self:center;
}

.container .heading {
    font-size: 20;
    font-weight: 800;
}

.container .text {
    font-size: 12px;
}

/* Footer */
.bard {
    display:flex;
    background-color: indianred;
    min-height: 75px;
    justify-content: center;
    align-items: center;
}